$primary: #f95d63;

// font size
$xs: 0.75rem;
$sm: 0.875rem;
$base: 1rem;
$lg: 1.125rem;
$xl: 1.25rem;
$xxl: 1.5rem;

$black: #1e293b;
// $text: #afafaf;

$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
